<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body class="Site">
        <main class="Site-content">
            <!--NAV-->
            <div class="ui top menu">
                <div class="item">
                    <img src="smoreley.png">
                </div>
                <a class="item" href="/">
                    Home
                </a>
                <a class="active item" href="stats">
                    Stats
                </a>
                <a class="item" href="guide">
                    Guide
                </a>
                <div class="right menu">
                    <div class="item">
                        <div id="playerName" class="ui icon input">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ui container center aligned">
                <h1 class="ui header">Leaderboard</h1>
            </div>
            
            <% if (pages.finding == false) { %>

            <% var highestScore = 0; var totalScore = 0; %>
            <% pages.players.forEach(function(d) { %>
                <% if (highestScore < d.score) highestScore = d.score; %>
                <% totalScore += d.score; %>
            <% }); %>

            <div class="ui container centered">
                <div class="ui grid centered">
                    <div class="ui statistics">
                        <div class="statistic">
                            <div class="value">
                                <%= highestScore %>
                            </div>
                            <div class="label">
                                highestScore
                            </div>
                        </div>
                        <div class="ui large statistic">
                            <div class="value">
                            <%= pages.players.length %>
                            </div>
                            <div class="label">
                                Unique Players
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                <%= totalScore %>
                            </div>
                            <div class="label">
                                Cumulative
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <% } %>

            <div class="ui container">
                <h3 class="ui header right aligned">Get your stats all your stats here!</h3>
            </div>

            <div class="ui container">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pages.players.forEach(function(d) { %>
                        <tr>
                            <td><%= d.name %></td>
                            <td><%= d.score %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <div class="ui raised padded container segment">
                <%= JSON.stringify(pages) %>
            </div>
            
            

    <!--
            <div class="ui raised padded container segment">
                <form class="ui form" method="post" action="upadateStats">
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" name="name" placeholder="Name here">
                    </div>
                    <div class="field">
                        <label>Score</label>
                        <input type="text" name="score" placeholder="Score here">
                    </div>
                    <div class="field">
                        <label>Level</label>
                        <input type="text" name="level" placeholder="Level here">
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
    -->

            <div class="ui raised padded container segment ">
                <form class="ui form" method="post" action="findPlayer">
                    <div class="inline fields ui grid container centered">
                        <label class="one wide column">Search</label>
                        <div class="eleven wide column field">
                            <input type="text" name="name" placeholder="Name here">
                        </div>
                        <div class="two wide column">
                            <button class="ui button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </main>
        <% include ../partials/footer.ejs %>
    </body>
</html>